<div class="d-flex main-otp-page justify-content-center align-items-center level container-fluid mx-o px-0">
    <div class="card-otp py-3 px-3">
        <h5 class="m-0 text-primary">Mobile phone verification</h5>
        <span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 {{userMobile}}</b></span>
        <form action="/login/otpVerify" method="post">
            <div class="d-none flex-row mt-5">
                <input type="number" name="mobile" class="form-control" value="{{userMobile}}">
            </div>
            <div class="d-flex flex-row mt-5">
                <label for="otp fw-bold">Enter OTP</label>
                <input type="number" name="otp" maxlength="5" class="form-control" autofocus="">
            </div>
            <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary" value="verify">
            </div>
        </form>
        {{!-- timer --}}
        <div class="text-center mt-3 text-dark">
            <p id="timer">resend OTP in 1 minute</p>
        </div>
        {{!-- till here --}}
        <div class="text-center mt-2" style="display: none;" id="verifyOtp">
            <span class="d-block mobile-text">Don't receive the code?</span>
            <span class="font-weight-bold text-danger cursor" onclick="location.reload()">Resend</span>
        </div>
        {{#if status}}
        <div class="text-center mt-2">
            <span class="font-weight-bold text-danger">Invalid OTP !!</span>
        </div>
        {{/if}}
    </div>
</div>

<script>
  // Set the timer to expire the OTP after 1 minute
  const expirationTime = 60; // seconds
  let timer = expirationTime;
  const timerElement = document.getElementById("timer");
  const verifyOtp = document.getElementById("verifyOtp");
  const intervalId = setInterval(() => {
    const minutes = Math.floor(timer / 60);
    const seconds = timer % 60;
    timerElement.textContent = `resend OTP in ${minutes}:${seconds.toString().padStart(2, '0')} minutes`;
    timer--;
    if (timer < 0) {
      clearInterval(intervalId);
      verifyOtp.style.display = "block";
      timerElement.style.display = "none";
      // Disable the form inputs and button
      const formInputs = document.querySelectorAll("form input");
      formInputs.forEach(input => input.disabled = true);
      const submitButton = document.querySelector("form button[type=submit]");
      submitButton.disabled = true;
    }
  }, 1000);
</script>